<div class="ppl-belongings-widget">
    <div class="ppl-belongings-heading">
        <img ng-src="images/belongings-icon.png" alt="belongings" class="ppl-belongings-icon"/>
        <span class="ppl-belongings-title">Belongings</span>
    </div>
    <div class="ppl-belongings-body"
         ng-style="pplBelongings.selectedPerson && {'background-image': 'url(/images/' + pplBelongings.selectedPerson.profileBackgroundImage + ')'}">
        <div class="ppl-belongings-area">
            <div class="ppl-belongings-person-name">
                {{pplBelongings.selectedPerson.name}}
            </div>
            <div class="ppl-belongings-belonging"
                 data-ng-repeat="(type,belongings) in pplBelongings.selectedPersonalBelongings">
                <img ng-src="images/{{type}}-icon.png" alt="{{type}}"/>
                <span class="ppl-belongings-amount">{{belongings.length}}</span>
            </div>
        </div>
    </div>
</div>