<div class="wth-dashboard-widget-body">
    <div class="wth-dashboard-widget-menu-area btn-group">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li data-ng-click="wthDashboardWidgetBody.close(widget)"><i class="fa fa-2x fa-close"></i></li>
            <li data-ng-click="wthDashboardWidgetBody.settings(widget)"><i class="fa fa-2x fa-gear"></i></li>
        </ul>
    </div>
</div>