<div class="wth-dashboard-header">
    {{wthDashboard.title}}
    <div class="wth-dashboard-controls">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-expanded="true">
                <i class="fa fa-plus"></i>
                Add Widget
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li data-ng-repeat="widget in wthDashboard.widgetDefinitions">
                    <a role="menuitem" data-ng-click="wthDashboard.addNewWidget(widget)">{{widget.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div gridster="wthDashboard.gridsterOpts">
    <ul>
        <li gridster-item="widget" ng-repeat="widget in wthDashboard.widgets">
            <wth-dashboard-widget-body></wth-dashboard-widget-body>
        </li>
    </ul>
</div>