<div class="ppl-person-widget">
    <div class="ppl-person-heading">
        <img ng-src="images/person-icon.png" alt="person" class="ppl-person-icon"/>
        <span class="ppl-person-title">Person</span>
    </div>
    <div class="ppl-person-body" style="background-image: url(images/{{pplPerson.selectedBackgroundImage}});">
        <div class="ppl-person-row">
            <div class="ppl-person-name-area">
                <h4>Name: </h4>

                <p>{{pplPerson.selectedPerson.name}}</p>
                <h4>Birthday</h4>

                <p>{{pplPerson.selectedPerson.birthday | date : 'longDate'}}</p>
            </div>
            <div class="ppl-person-picture-area"
                 style="background-image: url(images/{{pplPerson.selectedImage}});"></div>
        </div>
    </div>
</div>