﻿.ppl-person-widget {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

.ppl-person-heading {
    background-color: darkorange;
    color: darkblue;
    height: 32px;
    padding-top: 2px;
    font-size: 15px;
    line-height: 32px;
}

.ppl-person-body {
    display: table;
    background-color: lemonchiffon;
    color: darkblue;
    width: 100%;
    height: 100%;
}

.ppl-person-row {
    display: table-row;
}

.ppl-person-icon {
    height: 24px;
    width: 24px;
    margin-top: -3px;
    margin-left: 3px;
}

.ppl-person-name-area {
    display: table-cell;
    width: 180px;
    vertical-align: top;
    background-color: black;
    color: white;
    padding: 10px;
}

.ppl-person-name-area h4 {
    margin-bottom: 4px;
    font-size: 10px;
}

.ppl-person-name-area p {
    font-size: 20px;
}

.ppl-person-picture-area {
    display: table-cell;
    background-size: cover;
    background-position: center;
}