@color_nothing: #000;

.wth-title-bar {
  background-color: white;
  padding: 0 20px;
  border-bottom: 2px solid black;
}

.wth-title-area {
  display: inline-block;
  text-align: center;
}

.wth-logo-area {
  /*text-align: center;*/
}

.wth-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 8px;
  vertical-align: top;
  border: 1px solid #999;
}

.wth-logo-title {
  color: #111;
  margin-top: 6px;
  font-size: 22px;
}

.wth-logo-subtitle {
  font-size: 13px;
  margin-top: -13px;
}

.wth-right-side-controls {
  line-height: 60px;
}

.wth-right-side-controls > div {
  text-align: center;
}

.wth-view {
  margin-left: 200px;
  padding: 20px;
  background-color: #CCC;
  min-height: 100vh;
  overflow: auto;
}

.wth-view-full-width {
  margin-left: 0;
}

.wth-collapsed-menu {
  display: inline-block;
  height: 100%;
}

.wth-nav-button {
  height: 40px;
  width: 60px;
  margin-top: 10px;
  border: 1px solid #888;
  padding: 0;
  font-size: 26px;
  color: #777;
}

@media screen and (min-width: 768px) {
  .wth-right-side-controls > div {
    text-align: right;
  }

  .wth-title-area {
    text-align: left;
  }

  .wth-logo-area {
    text-align: left;
  }
}

@media screen and (max-width: 430px) {
  .wth-icon {
    display: none;
  }

  .wth-logo-title {
    font-size: 18px;
  }
}