<div class="wth-title-bar">
    <div class="row">

        <div class="wth-logo-area col-sm-6">
            <img data-ng-src="{{vm.iconFile}}" class="wth-icon"/>

            <div class="wth-title-area">
                <p class="wth-logo-title">{{vm.title}}</p>

                <p class="wth-logo-subtitle">{{vm.subtitle}}</p>
            </div>

            <div class="wth-collapsed-menu pull-right" data-ng-if="vm.isMenuButtonVisible"
                 data-ng-click="vm.menuButtonClicked()">
                <button class="btn wth-nav-button" type="button"><i class="fa fa-bars"></i></button>
            </div>
        </div>
        <div class="wth-right-side-controls col-sm-6">
            <div>
                <button class="btn btn-primary" data-ng-click="vm.toggleDash()">Button 1</button>
                <button class="btn btn-success">Button 2</button>
                <button class="btn btn-warning">Button 3</button>
            </div>
        </div>
    </div>
</div>

<div data-ng-transclude></div>

<div class="wth-view" ng-view ng-class="{'wth-view-full-width':!isMenuVerticle||!isMenuVisible}"></div>