<div class="ppl-pet-widget">
    <div class="ppl-pet-heading">
        <img ng-src="images/pet-icon.png" alt="pet" class="ppl-pet-icon"/>
        <span class="ppl-pet-title">Pet</span>
    </div>
    <div class="ppl-pet-body" style="background-image: url(images/{{pplPet.selectedBackgroundImage}});">
        <div class="ppl-pet-row">
            <div class="ppl-pet-name-area">
                <h4>Name: </h4>

                <p>{{pplPet.selectedPet.name}}</p>
                <h4>Birthday</h4>

                <p>{{pplPet.selectedPet.birthday | date : 'longDate'}}</p>
                <h4>Identifiable Characteristics</h4>
                <ul>
                    <li data-ng-repeat="car in pplPet.selectedPet.identifiables">{{car}}</li>
                </ul>
                <h4>Habbits (bad or otherwise)</h4>
                <ul>
                    <li data-ng-repeat="hbt in pplPet.selectedPet.habits">{{hbt}}</li>
                </ul>
                <h4>Redeemable Qualities</h4>
                <ul>
                    <li data-ng-repeat="rq in pplPet.selectedPet.redeemables">{{rq}}</li>
                </ul>
            </div>
            <div class="ppl-pet-picture-area" style="background-image: url(images/{{pplPet.selectedImage}});"></div>
        </div>
    </div>
</div>