<div class="page-header"><h1>People</h1></div>

<h2>TODO</h2>
<ul>
    <li>build CRUD operations for people and belongings.</li>
    <li>build pet maintenance in order to manage relationships between people and pets.</li>
    <li>build image viewer and uploader.</li>
</ul>
