.wth-menu-area {
    position: relative;
    background-color: #333;
    color: #CCC;
    padding-left: 0;
}

.wth-menu-area-verticle {
    float: left;
    padding-top: 30px;
    width: 200px;
    min-height: 100vh;
}

.wth-menu-area-horizontal {
    width: 100%;
    height: 40px;
}

.wth-menu-area .btn:hover {
    color: #CCC;
}

.wth-menu-area ul {
    padding-left: 0;
}

.wth-menu {
    list-style: none;
    vertical-align: top;
}

.wth-menu ul {
    display: inline;
    list-style-type: none;
    padding-left: 0;
}

.wth-menu li {
    line-height: 3em;
    cursor: pointer;
}

.wth-menu li div {
    display: inline-block;
    width: 90%;
    padding-left: 16px;
}

.wth-selectable-item:hover {
    background-color: #555;
}

.wth-menu-icon {
    margin-right: 10px;
}

.wth-menu-active-indicator {
    float: right;
    color: #DDD;
    margin-top: 8px;
    margin-right: 0;
}

.wth-noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wth-mgroup-indicator-left {
    float: right;
    color: #DDD;
    margin-right: 2px;
    margin-top: 15px;
}

.wth-subitem-section {
    padding-left: 16px;
}

.wth-menu-layout-button {
    margin: 12px;
    padding: 2px 8px;
    color: #BBB;
    background-color: #333;
    border: 1px solid #999;
}

.wth-mlayout-button-horizontal {
    position: absolute;
    top: -6px;
    right: 10px;
}

.wth-mitem-horizontal {
    display: inline-block;
    width: 165px !important;
    margin-left: 20px;
    margin-top: 5px;
    line-height: 1.5em !important;
}

.wth-popup-menu {
    position: absolute;
    z-index: 1000;
    background-color: #333;
    width: 200px;
    padding-left: 0;
}

.wth-fade-in-animation {
    -moz-transition: linear all 0.5s;
    -o-transition: linear all 0.5s;
    -webkit-transition: linear all 0.5s;
    transition: linear all 0.5s;
}

.wth-fade-in-animation.ng-hide {
    opacity: 0;
}