<li class="wth-selectable-item" ng-click="vm.clicked()" ng-class="{'wth-mitem-horizontal': !vm.isVertical()}">
    <div class="wth-noselect"><i class="fa {{vm.icon}} wth-menu-icon"></i>{{vm.label}}</div>
    <i ng-if="vm.isVertical()" class="fa fa-chevron-left wth-mgroup-indicator-left"
       ng-class="{'fa-rotate-270':vm.isOpen}"></i>
</li>
<div ng-show="vm.isOpen" class="wth-subitem-section wth-fade-in-animation"
     ng-class="{'wth-popup-menu': !vm.isVertical()}">
    <ul ng-transclude=""></ul>
</div>