<li class="wth-selectable-item" ng-class="{'wth-mitem-horizontal': !vm.isVertical()}">
    <div class="wth-noselect"><i class="fa {{vm.icon}} wth-menu-icon"></i>{{vm.label}}</div>
    <i data-ng-if="vm.isActive() && vm.isVertical()" class="fa fa-2x fa-caret-left wth-menu-active-indicator"></i>
</li>