<div class="wth-menu-area wth-fade-in-animation" data-ng-show="vm.showMenu"
     ng-class="{'wth-menu-area-verticle': vm.isVertical, 'wth-menu-area-horizontal': !vm.isVertical}">
    <ul class="wth-menu" data-ng-transclude></ul>
    <a class="btn wth-menu-layout-button"
       ng-show="vm.allowHorizontalToggle"
       ng-class="{'wth-mlayout-button-horizontal': !vm.isVertical}"
       ng-click="vm.toggleMenuOrientation()">
        <i class="fa" ng-class="{'fa-chevron-up': vm.isVertical, 'fa-chevron-left': !vm.isVertical}"></i>
    </a>
</div>